<form >
  <p>
    <label>Email</label>
    <input type="text" name="">
  </p>

  <fieldset>
    <legend>Home Address</legend>
    <p>
      <label>Street</label>
      <input type="text" name="">
    </p>
    <p>
      <label>Street</label>
      <input type="text" name="">
    </p>
    <!-- How do I make this a home address? -->
    <!-- need to add a row into the addresses table with the address type keyed to "Home" -->
  </fieldset>

  <fieldset>
    <legend>Business Address</legend>
    <p>
      <label>Street</label>
      <input type="text" name="">
    </p>
    <p>
      <label>Street</label>
      <input type="text" name="">
    </p>
    <!-- How do I make this a business address? -->
    <!-- need to add a row into the addresses table with the address type keyed to "business" -->
  </fieldset>

  <fieldset>
    <legend>Existing Team by Name</legend>
    <p>
      <label>Enter Your Team Name</label>
      <input type="text" name="">
    </p>
    <!-- Find by the team name and assign -->
  </fieldset>

  <fieldset>
    <legend>Create a New Team</legend>
    <p>
      <label>Name</label>
      <input type="text" name="">
    </p>
    <p>
      <label>Hometown</label>
      <input type="text" name="">
    </p>
    <!-- Create by team name with hometown -->
  </fieldset>

  <input type="submit">

</form>
